#**LEMBAR JAWAB UJIAN AKHIR SEMESTER GENAP 2021/2022**

##BIG DATA AND PREDICTIVE ANALITYCS

KELOMPOK 4

1. Fathurrahman Nur Aziz (20.11.3694)
2. Mahfuuzh Naufal Muammar (20.11.3706)
3. Ahmad Zubaed Itqan (20.11.3689)
4. Pradipta Alif Parantopo (20.11.3703)

##**IMPORT LIBRARY**

In [1]:
import numpy
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from scipy import stats

##**IMPORT TABLE / CSV**

*   URL dibawah adalah hasil download dari UCI dengan judul "
PM2.5 Data of Five Chinese Cities Data Set" dengan link https://archive.ics.uci.edu/ml/datasets/PM2.5+Data+of+Five+Chinese+Cities#
*   Dataset kemudian di download dan di upload ke repository github karena data mentah dari UCI masih berbentuk RAR
# *   Link Github : https://github.com/azizfath/fp-bdpa

In [2]:
url = "https://raw.githubusercontent.com/azizfath/fp-bdpa/main/ShanghaiPM20100101_20151231.csv"
df = pd.read_csv(url)

###**DATA PREPARATION**

1. Melihat Jumlah Row dan Column dari DATA

In [3]:
df.shape

(52584, 17)

2. Melihat tipe data tiap kolom

In [4]:
df.dtypes

No                 int64
year               int64
month              int64
day                int64
hour               int64
season             int64
PM_Jingan        float64
PM_US Post       float64
PM_Xuhui         float64
DEWP             float64
HUMI             float64
PRES             float64
TEMP             float64
cbwd              object
Iws              float64
precipitation    float64
Iprec            float64
dtype: object

3. Cek apakah terdapat data kosong atau NA

In [5]:
df.isna()

,No,year,month,day,hour,season,PM_Jingan,PM_US Post,PM_Xuhui,DEWP,HUMI,PRES,TEMP,cbwd,Iws,precipitation,Iprec
0,False,False,False,False,False,False,True,True,True,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,True,True,True,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,True,True,True,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,True,True,True,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,True,True,True,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
52579,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
52580,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
52581,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
52582,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
52583,False,False,False,False,False,False,True,False,True,False,False,False,False,False,False,False,False

In [6]:
df.isna().sum()

No                   0
year                 0
month                0
day                  0
hour                 0
season               0
PM_Jingan        27884
PM_US Post       18545
PM_Xuhui         27395
DEWP                13
HUMI                13
PRES                28
TEMP                13
cbwd                12
Iws                 12
precipitation     4009
Iprec             4009
dtype: int64

4. Melakukan penghapusan data yang kosong atau NaN, kemudian melakukan reset index dan penghapusan kolom "No" bawaan dari Dataset

In [7]:
df = df.dropna().reset_index().drop(columns=['No'])

5. Pengecekan kembali apakah masih ada data kosong atau NA

In [8]:
df.isna().sum()

index            0
year             0
month            0
day              0
hour             0
season           0
PM_Jingan        0
PM_US Post       0
PM_Xuhui         0
DEWP             0
HUMI             0
PRES             0
TEMP             0
cbwd             0
Iws              0
precipitation    0
Iprec            0
dtype: int64

6. Melihat Jumlah Row dan Column setelah penghapusan data kosong

In [9]:
df.shape

(21436, 17)

7. Melakukan Combine kolom Year, Month, Date, Hour menjadi satu kolom kemudian menghapus kolom bawaan dari dataset

In [10]:
date = pd.to_datetime(df[['year','month','day','hour']])
df.insert(1,'datetime',date)
df.drop(['year','month','day','hour'],axis=1,inplace=True)

###**EDA (Exploratory Data Analytics)**

1. Print Preview dari Data

In [11]:
df

,index,datetime,season,PM_Jingan,PM_US Post,PM_Xuhui,DEWP,HUMI,PRES,TEMP,cbwd,Iws,precipitation,Iprec
0,26304,2013-01-01 00:00:00,4,66.0,70.0,71.0,-5.0,69.00,1023.0,0.0,SW,60.0,0.0,0.0
1,26305,2013-01-01 01:00:00,4,67.0,76.0,72.0,-5.0,69.00,1023.0,0.0,SW,62.0,0.0,0.0
2,26307,2013-01-01 03:00:00,4,73.0,78.0,74.0,-4.0,74.41,1023.0,0.0,SW,65.0,0.0,0.0
3,26308,2013-01-01 04:00:00,4,75.0,77.0,77.0,-4.0,80.04,1023.0,-1.0,SW,68.0,0.0,0.0
4,26309,2013-01-01 05:00:00,4,73.0,78.0,80.0,-4.0,80.04,1023.0,-1.0,SW,70.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21431,52578,2015-12-31 18:00:00,4,93.0,92.0,90.0,-2.0,60.51,1035.0,5.0,NE,12.0,0.0,0.0
21432,52579,2015-12-31 19:00:00,4,86.0,82.0,90.0,-1.0,65.13,1035.0,5.0,NE,15.0,0.0,0.0
21433,52580,2015-12-31 20:00:00,4,83.0,93.0,86.0,1.0,70.27,1035.0,6.0,NE,19.0,0.0,0.0
21434,52581,2015-12-31 21:00:00,4,85.0,90.0,95.0,1.0,70.27,1036.0,6.0,NE,22.0,0.0,0.0
21435,52582,2015-12-31 22:00:00,4,83.0,86.0,92.0,0.0,70.06,1035.0,5.0,NE,25.0,0.0,0.0

2. Melihat 10 Data teratas

In [12]:
df.head(10)

,index,datetime,season,PM_Jingan,PM_US Post,PM_Xuhui,DEWP,HUMI,PRES,TEMP,cbwd,Iws,precipitation,Iprec
0,26304,2013-01-01 00:00:00,4,66.0,70.0,71.0,-5.0,69.00,1023.0,0.0,SW,60.0,0.0,0.0
1,26305,2013-01-01 01:00:00,4,67.0,76.0,72.0,-5.0,69.00,1023.0,0.0,SW,62.0,0.0,0.0
2,26307,2013-01-01 03:00:00,4,73.0,78.0,74.0,-4.0,74.41,1023.0,0.0,SW,65.0,0.0,0.0
3,26308,2013-01-01 04:00:00,4,75.0,77.0,77.0,-4.0,80.04,1023.0,-1.0,SW,68.0,0.0,0.0
4,26309,2013-01-01 05:00:00,4,73.0,78.0,80.0,-4.0,80.04,1023.0,-1.0,SW,70.0,0.0,0.0
5,26310,2013-01-01 06:00:00,4,74.0,77.0,77.0,-4.0,80.04,1023.0,-1.0,SW,71.0,0.0,0.0
6,26311,2013-01-01 07:00:00,4,73.0,80.0,84.0,-4.0,86.15,1024.0,-2.0,cv,0.0,0.0,0.0
7,26312,2013-01-01 08:00:00,4,77.0,76.0,87.0,-5.0,79.89,1024.0,-2.0,cv,1.0,0.0,0.0
8,26313,2013-01-01 09:00:00,4,73.0,74.0,91.0,-3.0,60.25,1025.0,4.0,SW,4.0,0.0,0.0
9,26314,2013-01-01 10:00:00,4,82.0,76.0,88.0,-4.0,48.63,1025.0,6.0,SW,8.0,0.0,0.0

3. Melihat 10 data terakhir

In [13]:
df.tail(10)

,index,datetime,season,PM_Jingan,PM_US Post,PM_Xuhui,DEWP,HUMI,PRES,TEMP,cbwd,Iws,precipitation,Iprec
21426,52573,2015-12-31 13:00:00,4,85.0,85.0,102.0,-3.0,39.93,1034.0,10.0,NW,4.0,0.0,0.0
21427,52574,2015-12-31 14:00:00,4,75.0,84.0,71.0,-4.0,37.05,1034.0,10.0,NE,4.0,0.0,0.0
21428,52575,2015-12-31 15:00:00,4,82.0,82.0,78.0,-2.0,43.01,1034.0,10.0,NW,5.0,0.0,0.0
21429,52576,2015-12-31 16:00:00,4,82.0,88.0,88.0,-2.0,46.00,1034.0,9.0,NE,5.0,0.0,0.0
21430,52577,2015-12-31 17:00:00,4,88.0,91.0,86.0,-2.0,52.70,1034.0,7.0,NE,9.0,0.0,0.0
21431,52578,2015-12-31 18:00:00,4,93.0,92.0,90.0,-2.0,60.51,1035.0,5.0,NE,12.0,0.0,0.0
21432,52579,2015-12-31 19:00:00,4,86.0,82.0,90.0,-1.0,65.13,1035.0,5.0,NE,15.0,0.0,0.0
21433,52580,2015-12-31 20:00:00,4,83.0,93.0,86.0,1.0,70.27,1035.0,6.0,NE,19.0,0.0,0.0
21434,52581,2015-12-31 21:00:00,4,85.0,90.0,95.0,1.0,70.27,1036.0,6.0,NE,22.0,0.0,0.0
21435,52582,2015-12-31 22:00:00,4,83.0,86.0,92.0,0.0,70.06,1035.0,5.0,NE,25.0,0.0,0.0

4. Melihat Nama Kolom dari dataset

In [14]:
df.columns

Index(['index', 'datetime', 'season', 'PM_Jingan', 'PM_US Post', 'PM_Xuhui',
       'DEWP', 'HUMI', 'PRES', 'TEMP', 'cbwd', 'Iws', 'precipitation',
       'Iprec'],
      dtype='object')



> Informasi Kolom dari web UCI
> * No: row number
* year: year of data in this row
* month: month of data in this row
* day: day of data in this row
* hour: hour of data in this row
* season: season of data in this row
* PM: PM2.5 concentration (ug/m^3)
* DEWP: Dew Point (Celsius Degree)
* TEMP: Temperature (Celsius Degree)
* HUMI: Humidity (%)
* PRES: Pressure (hPa)
* cbwd: Combined wind direction
* Iws: Cumulated wind speed (m/s)
* precipitation: hourly precipitation (mm)
* Iprec: Cumulated precipitation (mm)

5. Melihat Informasi kolom tiap tabel terkait Jumlah Row dan Datatypes

In [16]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21436 entries, 0 to 21435
Data columns (total 14 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   index          21436 non-null  int64
 1   datetime       21436 non-null  datetime64[ns]
 2   season         21436 non-null  int64
 3   PM_Jingan      21436 non-null  float64
 4   PM_US Post     21436 non-null  float64
 5   PM_Xuhui       21436 non-null  float64
 6   DEWP           21436 non-null  float64
 7   HUMI           21436 non-null  float64
 8   PRES           21436 non-null  float64
 9   TEMP           21436 non-null  float64
 10  cbwd           21436 non-null  object
 11  Iws            21436 non-null  float64
 12  precipitation  21436 non-null  float64
 13  Iprec          21436 non-null  float64
dtypes: datetime64[ns](1), float64(10), int64(2), object(1)
memory usage: 2.3+ MB

6. Melihat deskripsi Statistik dari Dataset

In [15]:
df.describe()

,index,season,PM_Jingan,PM_US Post,PM_Xuhui,DEWP,HUMI,PRES,TEMP,Iws,precipitation,Iprec
count,21436.000000,21436.000000,21436.000000,21436.000000,21436.000000,21436.000000,21436.000000,21436.000000,21436.000000,21436.000000,21436.000000,21436.000000
mean,39188.541239,2.469117,57.964546,54.134633,58.571702,11.194019,68.672159,1016.059899,17.618026,48.276497,0.133099,0.871483
std,7373.461529,1.135687,48.138166,43.277176,49.225516,9.503136,18.100383,8.956274,8.982793,67.698391,1.030226,6.794960
min,26304.000000,1.000000,1.000000,1.000000,1.000000,-17.000000,13.090000,990.000000,-3.000000,0.000000,0.000000,0.000000
25%,32868.750000,1.000000,26.000000,27.000000,26.000000,3.000000,56.380000,1008.000000,10.000000,6.000000,0.000000,0.000000
50%,38864.500000,2.000000,44.000000,42.000000,44.000000,12.000000,70.670000,1016.000000,18.000000,20.000000,0.000000,0.000000
75%,45453.250000,3.000000,73.000000,67.000000,74.000000,20.000000,83.010000,1023.000000,25.000000,62.000000,0.000000,0.000000
max,52582.000000,4.000000,607.000000,514.000000,636.000000,28.000000,100.000000,1040.000000,41.000000,608.000000,61.600000,226.400000